/*
header {
 height: 125px;
 margin-left: 0px;
 background-color: purple;
 display: inline-block;
 font-family: 'Oswald', sans-serif;
 word-wrap: break-word;*/
/* 
}
h1 {
	 height: 125px;
 	margin-left: 0px;
	font-family: 'Barrio', cursive;
	font-size: 150px;
	background-color: yellow;
	display: inline-block;
	word-wrap: break-word;
}
#tooP, #instructions, #caution{

}
main {
/*		/*min-height: 10em;*/
 /*   vertical-align: middle;
   /* top: 50%;
    left: 50%;*/
    /*display: inline-block;*/
    /*height: 90px;
    width: 400px;*//*
    height: 531px;
    width: 514px;
    background-color: orange;
    margin: 0px auto 0px auto;
*/    /*transform: translate(50%, 25%);*/
/*    position: relative;
*/
}
/*#backSection div {
	
	height:120px;
	width: 120px;
	background-color: white;
	display: inline-block;
	border-radius: 25px;*/

	/*border: solid;*/
	/*transform: translate(9%, -2%);*/
/*}
.row1, .row2, .row3, .row4{
	margin-top: 10px;
	margin-right: 2.5px;
	margin-left: 2.5px;

}
.row4{
	margin-bottom: 10px;
}
#tile1, #tile5, #tile9, #tile13{
	margin-left: 20px;
}*/

/*#backSection{
 	height: 600px;
    width: 600px;*/
    
  /*  background-color: grey;
    margin: 0px auto 80px auto;*/
    /*transform: translate(50%, 25%);*/
 /*   position: relative;
	border-radius: 25px;
}*/
/*#startButton{
*//*	min-height: 10em;
*//*    vertical-align: middle;
*/   /* top: 50%;
    left: 50%;*/
/*    display: inline-block;
*/    /*height: 90px;
    width: 400px;*/
/*    background-color: orange;
*/    /*margin: 0px auto 80px auto;*/
    /*transform: translate(50%, 25%);*/
    /*position: absolute;*/


}





/*button{*/
	/*min-height: 10em;*/
    
   /* top: 50%;
    left: 50%;*/
  /*  vertical-align: middle;
    height: 50px;
    width: 120px;
    left: auto;
    right: auto;
	display: inline-block;
	tra
}

}



{
	/*font-family: 'Barrio', cursive;
	font-size: 30px;
	display: inline-block;*/
/*/

	



