
.container{
        width: 100%; 
        max-width: 1200px; 

}
body {
	background: white;
	height: 100vh;
	width: 100vw;
	font-family: 'Oswald', sans-serif ;
	color: black;
}

h1 {
	font-size: 100px;
	font-family: 'Barrio', cursive;
	text-align: center;

}
#startButton{
	text-align: center;
	color: white;

}
.container {
	text-align: center;
    list-style-type: none;
    width: 600px;
    -webkit-padding-start: 0;
    margin: 0 auto;

}
.container img {
	list-style-type: none;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid blue;
	border-radius: 10px;
}
/*.container div  {
	list-style-type: none;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid blue;
	border-radius: 10px;
}*/

button{
	height: 40px;
	width: 100px;
	border-radius: 10px;
}

