
.container{
        width: 100%; 
        max-width: 1200px; 

}
body {
	background: #A2AEBB;
	height: 100vh;
	width: 100vw;
	font-family: 'Oswald', sans-serif ;
	color: #1C3144;
}

h1 {
	font-size: 100px;
	font-family: 'Barrio', cursive;
	text-align: center;
	color: #3F88C5;
	background-color: #1C3144;

}
#startButton{
	text-align: center;
}
button{
	background-color: #D00000; 
    height: 36px;
    width: 300px;
	border-radius: 10px;
	font-family: 'Barrio', cursive;
	font-size: 30px;
	margin: 5px;
	color: #3F88C5;
}

button:hover{
	background-color: #D00000; 
    height:45px;
    width: 320px;
    color: #FFBA08;
}	
	
#instructions{
	text-align: center;
	font-size: 20px;
	width: 450px;
	height: auto;
	padding:20px;
	padding-left: 500px;
	left: 400px;
}
#caution{
	text-align: center;
}
.container {
	text-align: center;
    list-style-type: none;
    width: 600px;
    -webkit-padding-start: 0;
    margin: 0 auto;

}
.container img {
	list-style-type: none;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 10px;
	border: 3px solid #D00000;
	padding: 2px;
}

/*.container div  {
	list-style-type: none;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid blue;
	border-radius: 10px;
}*/



